[submodule "FreezingArcher/Pencil.Gaming"]
	path = FreezingArcher/Pencil.Gaming
	url = git@github.com:martin31821/Pencil.Gaming.git
[submodule "assimp"]
	path = assimp
	url = git@github.com:martin31821/assimp-net.git
[submodule "jitterphysics"]
	path = jitterphysics
	url = git@github.com:martin31821/jitterphysics.git
[submodule "gwen"]
	path = gwen
	url = git@github.com:martin31821/gwen-dotnet.git
