[submodule "FreezingArcher/Pencil.Gaming"]
	path = FreezingArcher/Pencil.Gaming
	url = git@github.com:martin31821/Pencil.Gaming.git
[submodule "FreezingArcher/assimp"]
	path = FreezingArcher/assimp
	url = git@github.com:martin31821/assimp-net.git
