<!-- About Section -->
    <section id="about" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Third Party Libraries</h2>
                    <h3 class="section-subheading text-muted">We are using a bunch of third party libraries for this framework. Without those perls of code a project like this would not be possible. Many thanks to all the developers creating free libraries and making the source code available and reusable to others.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
				<img class="img-circle img-responsive" src="img/about/1.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>
					<a href="http://www.codeproject.com/Articles/35401/A-Cross-platform-C-Class-for-Using-INI-Files-to-St">STA.INIFile</a>
				    </h4>
                                    <h4 class="subheading">From Moreno Airoldi</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Thank you for this awesome INI file parser. The software is licensed under <a href="http://www.codeproject.com/info/cpol10.aspx">The Code Project Open License (CPOL)</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>
					<a href="https://github.com/andykorth/Pencil.Gaming">Pencil.Gaming</a>
				    </h4>
                                    <h4 class="subheading">From Andy Korth and Antonie Blom</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Pencil.Gaming is an awesome OpenGL wrapper written in C#. It is licensed under <a href="https://github.com/andykorth/Pencil.Gaming/blob/master/Pencil.Gaming/LICENSE.TXT">MIT</a>. We <a href="https://github.com/martin31821/Pencil.Gaming">forked</a> this project to fit our needs.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><a href="http://commandline.codeplex.com/">CommandLine</a></h4>
                                    <h4 class="subheading">From Giacomo Stelluti Scala</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Thank you for this awesome command line parsing tool. It is licensed under <a href="http://commandline.codeplex.com/license">MIT</a>.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><a href="http://jitter-physics.com">Jitter Physics</a></h4>
                                    <h4 class="subheading">From Thorben Linneweber</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A powerful physics engine. The license of this project can be found in the original source code. We created a <a href="https://github.com/martin31821/jitterphysics">fork</a> on github.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/5.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><a href="https://code.google.com/p/assimp-net/">Assimp-Net</a></h4>
                                    <h4 class="subheading">From Nicholas Woodfield</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A powerful parser for 3D model formats. This project is licensed under <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. We created a <a href="https://github.com/martin31821/assimp-net">fork</a> on github.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/6.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><a href="https://code.google.com/p/gwen-dotnet/">gwen-dotnet</a></h4>
                                    <h4 class="subheading">From "Omeg"</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">A .NET/mono port of the GWEN GUI library. This project is licensed under <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. We created a <a href="https://github.com/martin31821/gwen-dotnet">fork</a> on github.</p>
                                </div>
                            </div>
                        </li>
			<li>
			    <div class="timeline-image">
				<h4>Webpage creation</h4>
			    </div>
			</li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/7.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><a href="https://github.com/jekyll/jekyll">Jekyll</a></h4>
                                    <h4 class="subheading">From Tom Preston-Werner</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Jekyll is an awesome static webpage generation tool. It is licensed under <a href="https://github.com/jekyll/jekyll/blob/master/LICENSE">MIT</a>.
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/8.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4><a href="https://github.com/y7kim/agency-jekyll-theme">Agency Jekyll Theme</a></h4>
                                    <h4 class="subheading">From Rick K. (a.k.a. y7kim)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Thank for this awesome Jerkyll theme. This theme is licensed under the <a href="https://github.com/y7kim/agency-jekyll-theme/blob/gh-pages/LICENSE">Apache License</a>.</p>
                                </div>
                            </div>
                        </li>
			<li>
			    <div class="timeline-image">
				<h4>Open Source for the win!</h4>
			    </div>
			</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
