<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Overview</h2>
                    <h3 class="section-subheading text-muted">FreezingArcher is a lightweight cross platform framework (currently only GNU/Linux x64 and Windows x64 are officially supported) for 3D game development in C# (mono/.NET).</h3>
                </div>
            </div>
            <div class="row text-center">
		<div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flag fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Aim of this project.</h4>
                    <p class="text-muted">The aim of this project is to offer a lightweight but powerful game development environment in C#. The aim is not to create an easy to use drag 'n drop editor for a bloated all-in-one game engine suitable for every purpose. This framework is from developers for developers.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">This software is free software.</h4>
                    <p class="text-muted">This software is licensed under the GNU GPLv2. The software is also available for free. So feel free to fork this project and bring some of your ideas back into FreezingArcher via pull requests. You may also test the available components and report bugs or create requests for new features to improve the framework.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-file-text fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Documentation</h4>
                    <p class="text-muted">Have a look at the <a href="https://github.com/fin-ger/FreezingArcher/wiki">wiki</a> for some <a href="https://github.com/fin-ger/FreezingArcher/wiki/Components">examples</a> and a <a href="https://github.com/fin-ger/FreezingArcher/wiki/Home#quickstart">quickstart</a> guide (to appear). This documentation is very basic and far from complete. Feel free to improve it or create some bug reports for unclear or wrong statements in the docs.</p>
                </div>
            </div>
	    <div class="text-center">
                <h3 class="section-subheading text-muted">NOTE: In its current state the framework is far from being finished. It is under heavy development.</h3>
	    </div>
        </div>
    </section>
