<configuration>
  <dllmap dll="Assimp32.dll" target="lib32/Assimp32.dll"/>
  <dllmap dll="Assimp64.dll" target="lib64/Assimp64.dll"/>
  <dllmap os="linux" dll="Assimp32.dll" target="lib32/Assimp32.so"/>
  <dllmap os="linux" dll="Assimp64.dll" target="lib64/Assimp64.so"/>
  <dllmap os="osx" dll="Assimp32.dll" target="lib32/Assimp32.dylib"/>
  <dllmap os="osx" dll="Assimp32.dll" target="lib64/Assimp64.dylib"/>
</configuration>
