<!DOCTYPE html>
<html>

  {% include wiki/head.html %}


    <body id="page-top" class="index">

      {% include wiki/header.html %}

      <div class="row">
        <section id="wiki" class="col-lg-7">
          <h1>{{ page.title }}</h1>
          {{ content }}
        </section>
      </div>

      <div id="tocbar" class="col">
        <div id="tocbar-wrapper">
          <div id="bartoggle">
            <div class="fa fa-angle-left"></div>
          </div>
          <ul class="nav nav-tabs">
            <li class="active">
              <a data-toggle="tab" href="#sidebar">Sidebar</a>
            </li>
            <li>
              <a data-toggle="tab" href="#toc">Outline</a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="toc" class="tab-pane"></div>
            <div id="sidebar" class="tab-pane active">
              {% include wiki/sidebar.html %}
            </div>
          </div>
        </div>
      </div>
      
      {% include wiki/footer.html %}
      {% include wiki/js.html %}

    </body>
</html>

<!--<ul class="wikiMenu">
  {% for p in site.pages %}
    {% if p.menu == "wiki" %}
    <li><a class="post-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>-->
